.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  grid-row-gap: 15px;
  grid-row-gap: 50px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-container4 {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  text-align: center;
}

.grid-container5 {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}

.grid-container-nav {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  grid-row-gap: 15px;
  grid-row-gap: 50px;
}

.grid-container-dict {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  grid-row-gap: 15px;
  grid-row-gap: 50px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item-error {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.drinkResults {
  justify-self: center;
}

.yes-no-buttons {
  font-size: 20px;
}

.errorDiv {
  margin-left: 200px;
  margin-right: 200px;
}

.errorItems {
  text-align: center;
  list-style-type: none;
}

#getDrinkResult {
  width: "50px";
}

#drinkUrl,
#favoriteDrink,
#drinkResults {
  display: none;
}

/* Target IE9+ */

@media screen and (min-width: 0\0 ) and (-webkit-min-device-pixel-ratio: 0.75), screen and (min-width: 0\0 ) and (min-resolution: 72dpi) {
  .grid-container-nav {
    margin-left: 800px;
  }

  hr {
    display: none;
  }
}

